* {
    margin-top: 0px;
    margin-left: 0px;
}

.nav {
    width: 110%;
    height: 70px;
    background-color: rgba(145, 142, 148, 0.354);
    display: flex;
    font-size: 2rem;
}

.cart {
    margin-left: 1000px;
    /* margin-top: 10px; */
}

.cartt {
    margin-top: -23px;
}

h3 {
    margin-top: 5px;
    margin-left: 30px;
}

.card-out {
    width: 210px;
    height: 350px;
    border: 0.4px solid rgba(145, 145, 145, 0.511);
    margin-left: 50px;


}

#num {
    background-color: rgb(85, 86, 86);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: -10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.card-out:hover {
    width: 210px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 2px 9px rgb(170, 170, 170);
}

.image:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.intoCart {
    background-color: rgba(85, 85, 84, 0.658);
    padding: 5px;
    border: 0.5px solid rgba(32, 28, 28, 0.74);
    border-radius: 5px;
    color: white;
}

.intoCart:hover {
    background-color: rgb(243, 222, 33);
    color: black
}

.card-out-out {
    width: 210px;
    height: 350px;
    margin-top: 20px;
}

@media only screen and (min-width: 1024px) {
    .card-out-out {
        float: left !important;
        width: 25% !important;
    }
}


.container-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container {

    border-color: white;
    background-color: rgba(254, 253, 253, 0.411);
    width: 800px;
    height: 550px;
    top: 42%;
    left: 25%;
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}


#productss {
    width: 830px;
    height: 450px;
    background-color: inherit;
    overflow-y: scroll;
}

#productss::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
}


.box1 {
    width: 800px;
    height: 100px;
    box-shadow: 1px 2px 9px rgb(170, 170, 170);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.headingg {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 40px;
}

#pay {
    background-color: rgb(248, 27, 27);
    color: white;
    border: none;
    border-radius: 2px;
    height: 30px;
    margin-left: 5%;

}

#total {
    font-size: 1.2rem;

}

.tstart {
    margin-left: 30%;
    font-size: 1.2rem;
}